*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.navigation {
  background-color: #003434;
  display: flex;
}

.navigation-left ul {
  list-style: none;
  margin: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

