*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}

/* #93C7D0 - colore da modificare */
nav {
  background-color: #B1D281;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
}
nav ul li {
  padding: 0.8rem;
}
nav ul a {
  font-family: "Roboto", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  border-bottom: 4px solid transparent;
}
nav ul .active {
  color: #002D75;
  border-bottom: 4px solid #002D75;
  transition: all 0.15s cubic-bezier(0.46, 0.12, 0.39, 0.72);
}

nav {
  background-color: #B1D281;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
}
nav ul li {
  padding: 0.8rem;
}
nav ul a {
  font-family: "Roboto", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  border-bottom: 4px solid transparent;
}
nav ul .active {
  color: #002D75;
  border-bottom: 4px solid #002D75;
  transition: all 0.15s cubic-bezier(0.46, 0.12, 0.39, 0.72);
}

header {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
header .jumbotron,
header nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-prodotti {
  background: url("../img/main/fondo-pag-speciali.jpg") no-repeat center center fixed;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 1.8rem 0;
}
.main-prodotti .section-tipo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.main-prodotti .section-tipo h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1rem;
  color: #063d96da;
  text-shadow: 2px 2px #ffffff;
}
.main-prodotti .section-tipo .container-prodotti {
  width: 1600px;
  display: flex;
  flex-flow: row wrap;
}
.main-prodotti .section-tipo .container-prodotti .card-prodotto {
  width: calc(100% / 3);
  max-width: 100%;
  padding: 2rem;
  position: relative;
}
.main-prodotti .section-tipo .container-prodotti .card-prodotto img.img-prodotto {
  width: 100%;
}
.main-prodotti .section-tipo .container-prodotti .card-prodotto img.icon-prodotto {
  width: 10%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-prodotti .section-tipo .container-prodotti .card-prodotto:hover img.icon-prodotto {
  display: flex;
}