.main-prodotti {
  background: url('../img/prodotti/main/fondo-pag-speciali.jpg') no-repeat center center fixed;
  @include flex(column, wrap);
  align-content: center;
  padding: 1.8rem 0;

  .section-tipo {
    @include flex(column, wrap);
    align-items: center;
    h2{
      font-family: $secondary-font;
      @include text-set(2rem, 700, 1rem);
      color: $primary-color;
      text-shadow: 2px 2px $text-shadow-color;
      padding: 1rem;
    }

    .container-prodotti {
      width: 1600px;
        @include flex(row, wrap);
    }
  }
}
